In [1]:
#made by Diego Alvarez
#diego.alvarez@colorado.edu

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
import pandas_datareader as web

import statsmodels.api as sm
from statsmodels.tsa.api import VAR

In [ ]:
end = dt.date.today()
start = dt.date(end.year - 50, end.month, end.day)
df = web.DataReader(["GDP", "DGS10"], "fred", start, end).dropna().pct_change().dropna()
df.head()

                 GDP     DGS10
DATE
1973-10-01  0.240269  0.151667
1974-04-01  0.036420  0.073806
1974-07-01  0.019588  0.030997
1974-10-01  0.025418  0.041830
1975-04-01  0.032615  0.013802

In [ ]:
model = VAR(df)

In [ ]:
results = model.fit(2)
results.summary()

In [ ]:
results.plot()

In [ ]:
results.plot_acorr()

In [ ]:
model.select_order(15)
results = model.fit(maxlags = 15, ic = 'aic')

In [ ]:
lag_order = results.k_ar
results.forecast(df.values[-lag_order:], 5)

In [ ]:
results.plot_forecast(10)

In [ ]:
irf = results.irf(10)
irf.plot(orth = False)

In [ ]:
irf.plot(impulse = "GDP")

In [ ]:
irf.plot_cum_effects(orth = False)

In [ ]:
fevd = results.fevd(5)
fevd.summary()

In [ ]:
results.fevd(20).plot()